DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
APP_URL=
MAILER_PORT=
MAILER_HOST=
MAILER_USER=
MAILER_PASSWORD=
VISMA_CLIENT_ID=
VISMA_CLIENT_SECRET=
VISMA_TENANT_ID=
ENAD_AUTH_TOKEN=
ENAD_API_URL=
ENAD_USER_AGENT=